{% extends 'learning_logs/base.html' %}
{% load bootstrap3 %}
{% block header %}
    <h2>{{ topic }}的条目</h2>
{% endblock header %}
{% block content %}
    <input value="新建条目" type="button" onclick="location.href='{% url 'learning_logs:new_entry' topic.id %}'"
           class="btn button-primary">
    <br><br>
    {% bootstrap_alert "no" alert_type="warning" %}

    {% for entry in entries %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    {{ entry.date_added|date:'M d, Y H:i' }}
                    <small>
                        <input value="编辑条目"
                               type="button"
                               onclick="location.href='{% url 'learning_logs:edit_entry' entry.id %}'"
                               class="btn button-default btn-sm">
                    </small>
                </h3>
            </div>
            <div class="panel-body">
                {{ entry.text|linebreaks }}
            </div>
        </div><!--panel-->
    {% empty %}
        还没有这个主题的条目
    {% endfor %}
    <input value="返回主题列表" type="button" onclick="location.href='{% url 'learning_logs:topics' %}'"
           class="btn button-primary">


{% endblock content %}